<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <conversionRule conversionWord="highlightex" converterClass="com.djm.springbootstart.logging.HighlightingCompositeConverterEx" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%X{username}-%X{times}] %green(%logger{0}) - %highlightex(%msg) %n</Pattern>
    </encoder>
  </appender>

  <logger name="com.djm" level="debug"/>
  <logger name="org.hibernate.SQL" level="debug"/>
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
